.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/public/wood-bg.jpg);
}
.box {
  padding: 5px;
  background-color: #fff;
}
.row {
  display: flex;
  flex-direction: row;
}
.item {
  width: 80px;
  aspect-ratio: 1;
}

.white {
  background-color: #fff;
}
.black {
  background-color: #000;
}
